.HomeContainer{
    height: calc(100vh - 70px);
    padding: 0 calc(3.5vw + 5px);
    position: relative;
   
}

.HomeContainer::before{
    background: url("https://wallpaperaccess.com/full/2778176.jpg") center center / cover no-repeat fixed;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}